workflows/bracework-capture-processor-working.json
{
  "name": "Bracework – New Capture Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-capture",
        "options": {
          "responseData": "={\n  \"ok\": true,\n  \"message\": \"Capture received successfully\"\n}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        176
      ],
      "id": "2d3d7854-40da-44b8-b38c-400106f80ad7",
      "name": "Webhook – New Capture",
      "webhookId": "4a7e0738-b68d-4fa6-9b77-2412d89ad35c"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        160
      ],
      "id": "01e3f6f3-073c-473e-b25f-b5ebae89c745",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30ca2474-dc3b-4d8d-9987-5b08f2a68628",
              "name": "job_id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "404f2db7-1a58-4fbd-a097-71b4b86d01fa",
              "name": "raw",
              "value": "=={{$json}}",
              "type": "string"
            },
            {
              "id": "574c1ba4-0ba8-44c2-ad1e-66849f535839",
              "name": "normalized.text",
              "value": "=={{$json.body.text || null}}",
              "type": "string"
            },
            {
              "id": "d54ff2bb-fe0d-4d85-b983-09da650b08f1",
              "name": "normalized.lang_hint",
              "value": "=={{$json.body.lang_hint || null}}",
              "type": "string"
            },
            {
              "id": "6e0414c2-cdb8-47ca-8e9c-75cc299254c2",
              "name": "meta.source",
              "value": "=={{$json.body?.source || \"webhook\"}}",
              "type": "string"
            },
            {
              "id": "40fe0516-31d6-44fe-a792-86d181bfff21",
              "name": "meta.received_at",
              "value": "=={{new Date().toISOString()}}",
              "type": "string"
            },
            {
              "id": "77659192-6f71-4085-b6f6-e9efa995caf1",
              "name": "media.image_url",
              "value": "={{$json.body.media?.image_url || null}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        160
      ],
      "id": "f186f21c-4549-42b0-a7f8-7774b4f33b87",
      "name": "Pass-through"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a41c147c-a951-4c94-a68f-b0686dd91c2e",
              "leftValue": "={{$json.media?.image_url}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        160
      ],
      "id": "61b4e801-7906-452d-b10a-b40030daed97",
      "name": "Has Image?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4456ce8-f299-419c-bc8c-6a313bde5ddb",
              "name": "normalized.text",
              "value": "={{$json.normalized.text}}",
              "type": "string"
            },
            {
              "id": "0effadc4-06d3-453c-8017-cd8a806245b9",
              "name": "media.image_url",
              "value": "={{null}}",
              "type": "string"
            },
            {
              "id": "11328f2e-4121-4695-afc4-c282a98b4bb4",
              "name": "media.audio_url",
              "value": "={{null}}",
              "type": "string"
            },
            {
              "id": "17a50a19-c2ce-4d63-978d-aa2ba1e0e753",
              "name": "meta",
              "value": "={{$json.meta}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        432
      ],
      "id": "863a5ecf-bc32-4839-b7c2-2833b29f885f",
      "name": "Pass-through (no image)"
    },
    {
      "parameters": {
        "url": "={{$json.media.image_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        -160
      ],
      "id": "8546bee8-e30a-428d-b28f-0ca1fbbb8eff",
      "name": "Fetch Image (binary)"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://dqdgtsnxxhzrpfkpgcww.supabase.co/storage/v1/object/images/{{ new Date().toISOString().replace(/[:.TZ]/g,'-') }}.jpg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "Content-Type",
              "value": "{{$binary.image.mimeType || 'application/octet-stream'}}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        -160
      ],
      "id": "8922b8c6-5ad2-4d3c-a68a-c4cdebaa080f",
      "name": "Upload to Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dqdgtsnxxhzrpfkpgcww.supabase.co/storage/v1/object/sign/images/{{ \n  encodeURIComponent($json.Key.replace(/^images\\//, '')) \n}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"expiresIn\": 3600 }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        -160
      ],
      "id": "29bcad75-271d-4e30-a1df-2383687babef",
      "name": "Sign URL"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "image",
              "newKey": "image"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2144,
        -160
      ],
      "id": "d048e2d8-51c0-4c51-9742-46128fe00a67",
      "name": "Move Binary Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "260ada56-ad57-48f2-876e-b19ce3904d1d",
              "name": "file_path",
              "value": "{{$json.Key}}",
              "type": "string"
            },
            {
              "id": "f802a6a9-b486-4db1-92ef-d9f5514772cf",
              "name": "signed_path",
              "value": "{{$json.signedURL}}",
              "type": "string"
            },
            {
              "id": "5e4f60de-e314-4de5-bf68-d5830c4f9816",
              "name": "signed_url",
              "value": "{{$env.SUPABASE_URL}}{{$json.signedURL}}",
              "type": "string"
            },
            {
              "id": "2b058329-7260-42d0-8491-1c4e5ef002a9",
              "name": "bucket",
              "value": "\"images\"",
              "type": "string"
            },
            {
              "id": "d8e99292-215b-43fe-ac0e-29917913d4fc",
              "name": "mime",
              "value": "{{$binary.image.mimeType || 'application/octet-stream'}}",
              "type": "string"
            },
            {
              "id": "bf53eb81-d321-43f8-94b2-572d8591a249",
              "name": "received_at",
              "value": "{{$json.meta?.received_at || new Date().toISOString()}}",
              "type": "string"
            },
            {
              "id": "ab96649f-96a8-47d2-b0c8-4e9dc559e544",
              "name": "job_id",
              "value": "={{$('Pass-through').item.json.job_id}}",
              "type": "string"
            },
            {
              "id": "aaf500dd-b689-4d51-9916-524ecea4e2fb",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2752,
        -160
      ],
      "id": "1f5523ab-c417-4975-92c5-89403c2a6206",
      "name": "Usable URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dqdgtsnxxhzrpfkpgcww.supabase.co/rest/v1/captures?on_conflict=file_path",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "image"
            },
            {
              "name": "bucket",
              "value": "images"
            },
            {
              "name": "kind",
              "value": "image"
            },
            {
              "name": "source",
              "value": "webhook"
            },
            {
              "name": "status",
              "value": "stored"
            },
            {
              "name": "file_path",
              "value": "={{$json.file_path}}"
            },
            {
              "name": "mime",
              "value": "={{$json.mime}}"
            },
            {
              "name": "size_bytes",
              "value": "={{$json.size_bytes ?? $binary?.image?.fileSize ?? 0}}"
            },
            {
              "name": "storage_id",
              "value": "={{$node['Upload to Supabase'].json.Id}}"
            },
            {
              "name": "signed_url",
              "value": "={{$json.signed_url}}"
            },
            {
              "name": "job_id",
              "value": "={{$json.job_id}}"
            },
            {
              "name": "received_at",
              "value": "={{$json.received_at}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2960,
        -160
      ],
      "id": "fc700723-be90-4f3e-b830-15692ab29229",
      "name": "Supabase – Upsert Capture (image)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dqdgtsnxxhzrpfkpgcww.supabase.co/rest/v1/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZGd0c254eGh6cnBma3BnY3d3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcwMjI3OSwiZXhwIjoyMDc3Mjc4Mjc5fQ.Yqjt4kVP4oRc-SGMFNeoF3fXgi3hHx3RpDmmLufaREQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "org_id",
              "value": "58006802-d80e-469d-9130-3de250bba314"
            },
            {
              "name": "title",
              "value": "=={{ $json.title || 'Untitled job' }}"
            },
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        -144
      ],
      "id": "5fc41ea7-60ac-49d5-ad88-18fe48bff635",
      "name": "Create Job"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f955d2cf-52a1-4f3e-96a9-efebde3d587b",
              "name": "supabase_url",
              "value": "={{$env.SUPABASE_URL}}",
              "type": "string"
            },
            {
              "id": "38cb2509-d65f-445c-85c2-66f314b35b64",
              "name": "supabase_service_key",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        176
      ],
      "id": "a2952a5e-1baa-4c67-a16e-75c757794f16",
      "name": "env_probe"
    }
  ],
  "pinData": {
    "Webhook – New Capture": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "144"
          },
          "params": {},
          "query": {},
          "body": {
            "text": "Bracework test",
            "media": {
              "image_url": "https://picsum.photos/800/600",
              "kind": "image"
            },
            "org_id": "test-org-123"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/new-capture",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook – New Capture": {
      "main": [
        [
          {
            "node": "env_probe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pass-through",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass-through": {
      "main": [
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Fetch Image (binary)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass-through (no image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image (binary)": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase": {
      "main": [
        [
          {
            "node": "Sign URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Upload to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign URL": {
      "main": [
        [
          {
            "node": "Usable URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usable URL": {
      "main": [
        [
          {
            "node": "Supabase – Upsert Capture (image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "env_probe": {
      "main": [
        [
          {
            "node": "Create Job",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "jUyC91tMAZ4Wy4ne"
  },
  "versionId": "260772e6-c448-40d1-860e-2f949d044db3",
  "meta": {
    "instanceId": "776f7e93d6aa6a34004a54d93931951ec3ec7e936785ebb4e9d90e8def4b7692"
  },
  "id": "jUyC91tMAZ4Wy4ne",
  "tags": []
}